<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0eaf71">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href="img/apple-icon-180.png" type="image/gif" sizes="16x16">
    <link rel="apple-touch-icon" href="img/apple-icon-180.png">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2048-2732.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2732-2048.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1668-2388.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2388-1668.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1536-2048.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2048-1536.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1668-2224.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2224-1668.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1620-2160.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2160-1620.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1284-2778.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2778-1284.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1170-2532.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2532-1170.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1125-2436.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2436-1125.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1242-2688.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2688-1242.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-828-1792.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1792-828.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1242-2208.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-2208-1242.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-750-1334.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1334-750.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-640-1136.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="img/apple-splash-1136-640.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <title>Automated Contact Tracing | Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../dist/custom/style.css">
    <link rel="manifest" href="../../../manifest.json">
</head>
<body>
    <div class="container mt-3 mb-3">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 px-md-3" id="parentClass">
            <div class="card-design px-0 px-md-2 px-lg-3" id="card-design">
                <center>
                    <h4 class="mt-4 mt-md-5 pt-3 pt-md-1">USER LOGIN</h4>
                    <div class="profile-image mt-4 mb-4">
                        <center>
                            <img src="../../../assets/img/man.png" alt="Profile">
                        </center>
                    </div>
                    <small class="text-center text-danger mb-1 err_all" id="err_all"></small>
                    <form action="#" data-route="../../../config/scripts" method="post" id="form-login" class="pb-sm-4 pd-md-2 pt-4 px-4 px-lg-5">
                        <div class="form-group px-2">
                            <input type="text" class=" form-control border-0 py-2 px-4" id="username" placeholder="Enter username" name="username">
                            <small class="float-start mt-1 mb-2 text-danger ps-3 err_user" id="err_user"></small>
                        </div>
                        <div class="form-group mt-4 px-2 pb-3">
                            <input type="password" class=" form-control border-0 py-2 px-4" id="password" placeholder="Enter password" name="password">
                            <small class="float-start mt-1 text-danger ps-3 err_pass" id="err_pass"></small>
                        </div>
                        <div class="form-group pb-4 py-3">
                            <center>
                                <button type="button" class="border-0 login my-2 px-4" name="login" id="login">SIGN-IN</button>
                            </center>
                        </div>
                        <p class="mb-1">Automated Contact Tracing System</p>
                        <span>SLSU-CCSIT @ 2021</span>
                        <div class="mb-4 pb-2 info-bottom">
                            <small class="mb-5 text-muted">Developed by: <a href="https://web.facebook.com/dArkSidEbUg" class="text-muted">Benigno E. Ambus</a></small>
                        </div>
                    </form>
                </center>
                <div class="top"></div>
                <div class="right"></div>
                <div class="bottom"></div>
                <div class="left"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- <script src="https://wzrd.in/standalone/web-streams-polyfill@latest"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
    <!-- <script type='text/javascript' src="//wurfl.io/wurfl.js"></script> -->
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script> 

    <script src="../../../assets/js/jquery-3.5.1.js"></script>
    <script src="../../../assets/js/moment.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <script src="../../../assets/js/jquery.easing.min.js"></script>
    <script src="../../../assets/js/sweetalert.min.js"></script>
    <script src="../../../assets/js/qr_packed.js" defer></script>
    <script src="../../../assets/js/ajax/indexDB.js"></script>
    <script src="../../../assets/js/storage/qr-code-scanning.js"></script>
    <script src="../../../assets/js/menu-animation.js" defer></script>
    <script src="../../../assets/js/ajax/login.js?v=2.0"></script>
    <!-- <script src="../../../dist/js/dexie.js"></script> -->
    <script>
        feather.replace()
    </script>
    <script>
      if ("serviceWorker" in navigator) {
        // navigator.serviceWorker
        //   .register("../../../sw.js")
        //   .then(function (registration) {
        //     console.log("success load");
        //   })
        //   .catch(function (err) {
        //     console.log(err);
        //   });
            navigator.serviceWorker
                .getRegistrations()
                .then(function(registrations){
                    for(let registration of registrations){
                        registration.unregister()
                    }
                }).catch(function(err){
                    console.log('Service Worker unregistration failed:', err)
                })
      }
    </script>
</body>
</html>